:root{
    --color-black-new:#0B0D0D;
    --color-black-two:#32383A;
    --color-whrite-text:#6e6e6e;
    --color-green-one:#09C75F;
    --color-green-two:#08D665;
    --color-green-three:#D1EDDD;
    --color-green-four:#5FDB97;
    --color-green-five:#4DD78B;
    --color-green-six:#39D27E;
    --color-whrite-on:#E5F9EE;
    --font-oswald: 'Oswald', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color-black-new);
    cursor: none;
}
.none{
    display: none;
}
.menú{
    display: none;
}
/* Header */

header{
    width: 100%;
    border-bottom: solid .5px var(--color-black-two);
}

.header-container {
    max-width:1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo{
    width: 100px;
    height: auto;
}
.menu-mobile {
    display: inline-block;
    width: 26px;
    height: 27px;
    background-image: url('../assets/svg/SVG/menu1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* section one */

.section-one {
    width: 100%;
    margin-top: 1.5rem;
    position: relative;
}
.section-one--container {
    width: 100%;
    max-width: 980px;
    min-width: 320px;
    margin: 0 auto;
    padding-bottom: 4rem;
}
.section-one-container--content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.section-one-content--text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.section-one-content--text h1{
    font-family: var(--font-rubik);
    font-size: 2.3rem;
    color: var(--color-whrite-on);
    line-height: 3.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
.section-one-content--text h1 span{
    color: var(--color-green-one);
}
.section-one-content--text div{
    padding: .5rem;
    border-left: 5px solid var(--color-green-two);
    border-radius: 5px;
    
}
.section-one-content--text div h2{
    color: var(--color-whrite-on);
    font-size: 1.3rem;
    font-weight: 500;
    font-family: var(--font-rubik);
    line-height: 1.8rem;
    display: flex;
    text-align: center;
}
.call-to-action{
    padding: 1rem;
    background-color: var(--color-green-one);
    color: var(--color-green-three);
    font-family: var(--font-rubik);
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    border-radius: 2rem;
    cursor: none;
    margin-top: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    transition: .2s;
}
.call-to-action:hover{
    transform: translateY(-5px);
    transition: .2s;
}
.call-to-action span{
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
}
.section-one-content-text--circle{
    position: absolute;
    left: 0px;
    top: 1rem;
    z-index: -1;
    max-width: 600px;
    animation:rotate 30s linear infinite alternate;
    width: 90%;
}


@keyframes rotate{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
    
}

/* seccio dos */

.section-two {
    width: 100%;
    background-color: #fefefe;
    padding-top: 3rem;
}
.section-two .section-two--content {
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}
.section-two h2{
    text-align: center;
    font-size: 2rem;
    color: var(--color-green-four);
    font-family: var(--font-oswald);
    text-transform: uppercase;
    margin-block: 1rem;

}
.section-two .section-two--content .section-two--container {
    padding: 3rem 1rem;
    border: solid 1px #6e6e6e27;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    transition: .7s;
}
.section-two .section-two--content .section-two--container:hover{
    background-color: var(--color-green-two);
    transition: .7s;
}
.section-two .section-two--content .section-two--container .section-two-container--text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.section-two--container .section-two-container--text h3{
    font-size: 1.8rem;
    font-family: var(--font-oswald);
    color: var(--color-black-two);
    z-index: 8;
    text-transform: capitalize;
}
.section-two--container .section-two-container--text p{
    font-size: 1.2rem;
    font-family: var(--font-rubik);
    color: var(--color-whrite-text);
    z-index: 8;
}
.section-two .section-two--content .section-two--container span{
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .5s ease-out;
}
.section-two .section-two--content .section-two--container span:nth-child(1){
    background-color: var(--color-green-four);
    transition: .5s;
    z-index: 4;
}
.section-two .section-two--content .section-two--container span:nth-child(2){
    background-color: var(--color-green-five);
    z-index: 3;
}
.section-two .section-two--content .section-two--container span:nth-child(3){
    background-color: var(--color-green-six);
    z-index: 2;
}
.section-two .section-two--content .section-two--container span:nth-child(4){
    background-color: var(--color-green-two);
    z-index: 1;
}

.section-two .section-two--content .section-two--container:hover span:nth-child(1){
    transform: scale(3);
    transition: .5s;
}
.section-two .section-two--content .section-two--container:hover span:nth-child(2){
    transform: scale(5);
    transition: .5s;
}
.section-two .section-two--content .section-two--container:hover span:nth-child(3){
    transform: scale(7);
    transition: .5s;
}
.section-two .section-two--content .section-two--container:hover span:nth-child(4){
    transform: scale(10);
    transition: .5s;
}

/* section three */


.section-three {
    width: 100%;
    background-color: #fefefe;
    padding-top:3.5rem ;
}
.section-three--container {
    max-width: 980px;
    position: relative;
    margin: 0 auto;
}
.section-three--text {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.section-three--text .section-three--title {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.section-three--text .section-three--title h2{
    position: absolute;
    color:var(--color-whrite-text);
    opacity: 15%;
    font-family: var(--font-oswald);
    font-size: 3.5rem;
    top: 0;
    text-transform: uppercase;
    z-index: 1;
}
.section-three--text .section-three--title p{
    color:var(--color-green-two);
    font-family: var(--font-oswald);
    font-weight: 600;
    z-index: 2;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 1.8rem;
    line-height: .5rem;
}
.section-three--text .section-three--title h3{
    color:var(--color-black-two);
    font-family: var(--font-oswald);
    font-weight: 600;
    z-index: 2;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.section-three--text .section-three--title h3 span{
    color:var(--color-green-two);
    font-family: var(--font-oswald);
    font-weight: 600;
    z-index: 2;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.section-three--text .section-three--title2 h3 {
    font-size: 1.2rem;
    color: var(--color-green-two);
    font-family: var(--font-rubik);
    font-weight: 400;
    margin-left: .7rem; 

}
.section-three--text .section-three--title2{
    color: var(--color-green-six);
    border-left: 5px solid var(--color-green-six);
    border-radius: 5px;
}
.section-three--experience {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1.5rem;
    padding-bottom: 5rem;
}
.section-three-content--info {
    background-color: #fefefe;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    border: none;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0px 65px 64.5px rgba(0,0,0,0.1);
}
.section-three--experience .section-three-content--info h2{
    font-family: var(--font-rubik);
    font-weight: 500;
    font-size: .9rem;
    color: var(--color-black-two);
    text-transform: capitalize;
    line-height: 2rem;
    z-index: 2;
}
.section-three--experience .section-three-content--info h4{
    font-size: 1.5rem;
    font-family: var(--font-oswald);
    text-transform: capitalize;
    line-height: 2.5rem;
    color: var(--color-black-new);
    margin-bottom: 1rem;
    z-index: 2;
    transition: 1s ease-in-out;
}
.section-three--experience .section-three-content--info p{
    font-size: 1rem;
    font-family: var(--font-rubik);
    text-transform: capitalize;
    line-height: 1.3rem;
    color: var(--color-black-two);
    z-index: 2;
}
.section-three--experience .section-three-content--info h5{
    font-size: 4rem;
    font-family: var(--font-oswald);
    text-transform: capitalize;
    line-height: 1.3rem;
    color: var(--color-black-two);
    position: absolute;
    opacity: 15%;
    bottom: 1.7rem;
    right: 1rem;
    z-index: 1;
    transition: 1.5s ease-in-out;
}
.section-three--experience .section-three-content--info span{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--color-green-three);
    border-radius: 50%;
    position: absolute;
    top: .9rem;
    left: 1rem;
    z-index: 1;
    transition:1s ease-out;
}
.section-three--experience .section-three-content--info:hover span{
    transform: scale(20);
    transition: 1.5s;
}
.section-three--experience .section-three-content--info:hover h5{
    opacity: 30%;
    transition: 1.5s;
}
.section-three--experience .section-three-content--info:hover h4{
    color: var(--color-green-two);
    transition: .7s;
}

/* section  four */

.section-four {
    width: 100%;
    background: linear-gradient(to right,#D1EDDD,#E5F9EE, #fefefe);
    padding-top: 2rem;
}
.section-four-container {
    padding: 1rem;
    margin: 0 auto ;
    max-width: 980px;
}
.section-four-content--titles {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.section-four--title {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
    margin-bottom: 1rem;
}
.section-four--title h2{
    position: absolute;
    color:var(--color-whrite-text);
    opacity: 15%;
    font-family: var(--font-oswald);
    font-size: 3.3rem;
    top: 0;
    text-transform: uppercase;
}
.section-four--title p{
    color:var(--color-green-two);
    font-family: var(--font-oswald);
    font-weight: 600;
    z-index: 2;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 2.8rem;
    line-height: .1rem;
}
.section-four--title h3{
    color:var(--color-black-two);
    font-family: var(--font-oswald);
    font-weight: 600;
    z-index: 2;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.section-four--title h3 span{
    color:var(--color-green-two);
    font-family: var(--font-oswald);
    font-weight: 600;
    z-index: 2;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.section-four--text-content{
    color: var(--color-green-six);
    border-left: 5px solid var(--color-green-six);
    border-radius: 5px;
    padding-left: .7rem;
    font-family: var(--font-rubik);
    font-size: 1.2rem;
    font-weight: 400;
}
.section-four-content-paragraf--text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
}
.section-four--text-buttons{
    display: flex;
    gap: .7rem;
    justify-content: end;
}
.section-four--text-buttons button{
    padding: .3rem .5rem;
    border: none;
    border-radius: .3rem;
    background-color: var(--color-green-one);
    cursor: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-four--pictures {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 auto;
    padding: 0rem 1rem;
    margin-top: 2rem;
}
.section-four--pictures::-webkit-scrollbar {
    width: 0; /* Ancho 0 */
    background: transparent; /* Fondo transparente */
}
.section-four--pictures picture{
    background-color: var(--color-whrite-text);
    padding: 1rem;
    width:100%;
    min-width: 250px;
    max-width: 360px;
    height:auto;
    border-radius: 0.7rem;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
    scroll-snap-align:center ;
}
.section-four--pictures picture img{
    width: 100%;
    max-width: 320px;
    cursor: pointer;
}
.cursor-dot {
    width: 10px;
    height: 10px;
    background-color: #5f5f5f;
}
.cursor-outline {
    width: 30px;
    height: 30px;
    border: 2px solid #5f5f5f;
}
.cursor-dot,
.cursor-outline{
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    z-index: 100;
    pointer-events: none;
}